.face {
    background-color: var(--face-color);
    margin: auto;
    height: var(--face-height);
    width: var(--face-width);
    position: relative;
}

.face div {
    position: absolute;
}

.eye {
    background-color: var(--eye-color);
    border-radius: 100%;
    height: var(--eye-size);
    width: var(--eye-size);
    bottom: calc(var(--eye-size) / 3);
    z-index: 1;
    transform: rotateX(0);
}

.eye.left {
    left: var(--eye-size);
}

.eye.right {
    right: var(--eye-size);
}

.eyelid {
    background-color: var(--eyelid-color);
    height: var(--eye-size);
    width: calc(var(--eye-size) * 1.75);
    z-index: 2;
    transform: rotate(0deg);
}

.eyelid.upper {
    bottom: calc(var(--eye-size) * 1);
    left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
    border-radius: 100%;
    bottom: calc(var(--eye-size) * -1);
    left: calc(var(--eye-size) * -0.375);
}

.mouth--container {
    display: flex;
    justify-content: center;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.mouth {
    width: 50px;
    height: 15px;
    z-index: 1;
    background-color: #000;
    border-radius: 10px 10px 20px 20px;
    transition: all 1s ease-in-out;
}

.mouth.talk {
    animation: talk .4s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes talk {
    0% {
        height: 15px;
        width: 50px;
    }

    50% {
        height: 40px;
        width: 30px;
    }

    100% {
        height: 15px;
        width: 50px;
    }
}