#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all .3s ease-in-out;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
  cursor: pointer;
  transform: translateX(47vw);
  z-index: 1;
}

#arrow.down {
  border-bottom: none;
  border-top: 10px solid #333;
  transform: translateX(0) translateY(-45vh);
}

#left-arrow,
#right-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
  transform: translateY(-22vh);
  z-index: 1;
  padding: 0 5px;
}

#left-arrow {
  border-right: 10px solid #333;
  margin-right: 10px;
}

#right-arrow {
  border-left: 10px solid #333;
  margin-left: 10px;
}

#navigation.disabled {
  opacity: 0.6;
  pointer-events: none;
}

#navigation.disabled #arrow {
  cursor: not-allowed;
}

#navigation.able {
  opacity: 1;
  pointer-events: all;
}

/* Ensure the slider starts closed when disabled */
#navigation.disabled .screen-container {
  display: none;
}